output/
packages/
.idea/
.iml/
.project
.settings/
.classpath
.factorypath
*.iml
*.zip
*.rtf
target/
*/.DS_Store
*/src/main/generated
*.tlog
Thumbs.db
**/MANIFEST.MF
**/bin/
*/**/maven/*
*/**/.tern-project
*/**/*.js.map
*/**/*.d.ts
!*/**/resources/ts/typings/**/*.d.ts
*/**/Debug/*
*.class
*.exe
*.obj
*.aux
*.gz
*.log
*.out
*minted-*
*.pdb
*.idb
*.db
*.vdb
*.opendb
*.pch
*/**/ipch/*
.vs
*.bbl
*.blg
*.bcf
*.toc
*.run.xml