version: "2.1"
services:
   wildfly:
        container_name: "wildfly"
        image: "wildfly:latest"
        ports:
            - "${EXPOSED_PORT}:8080"
        environment:
            - "POSTGRES_DB_URL=${POSTGRES_DB_URL}"
            - "POSTGRES_DB_NAME=${POSTGRES_DB_NAME}"
            - "POSTGRES_USER=${POSTGRES_USER}"
            - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD}"
